S3method(AIC,lmfreq)
S3method(coef,biglmfreq)
S3method(extractAIC,lmfreq)
S3method(logLik,lmfreq)
S3method(predict,biglmfreq)
S3method(predict,lmfreq)
S3method(print,biglmfreq)
S3method(print,lmfreq)
S3method(print,summary.lmfreq)
S3method(summary,lmfreq)
S3method(update,biglmfreq)
S3method(update,tablefreq)
export(biglmfreq)
export(claramerge)
export(clarasub)
export(corfreq)
export(covfreq)
export(hclustvfreq)
export(lmfreq)
export(make.readchunk)
export(meanfreq)
export(preprocesshflights)
export(quantilefreq)
export(sdfreq)
export(smartround)
export(tablefreq)
import(biglm)
import(dplyr)
importFrom(data.table,fread)
importFrom(data.table,setnames)
importFrom(fastcluster,hclust)
importFrom(fastcluster,hclust.vector)
importFrom(plyr,a_ply)
importFrom(plyr,aaply)
importFrom(plyr,adply)
importFrom(plyr,alply)
importFrom(plyr,d_ply)
importFrom(plyr,daply)
importFrom(plyr,ddply)
importFrom(plyr,dlply)
importFrom(plyr,l_ply)
importFrom(plyr,laply)
importFrom(plyr,ldply)
importFrom(plyr,llply)
importFrom(plyr,quickdf)
importFrom(plyr,vaggregate)
